Source: ubucompilator
Section: unknown
Priority: extra
Maintainer: gusions <gusions@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev
Standards-Version: 3.8.1
Homepage: <insert the upstream URL, if relevant>

Package: ubucompilator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
